{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 33.052715660909854,
    "longitude": -96.54478713870051,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/Chicago",
    "external_url": "https://homeassistant.internal.lakehouse.wtf",
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 16
  }
}